#red{background-color: red;}
#orange{background-color: orange;}
#yellow{background-color: yellow;}
#lightGreen{background-color: lightGreen;}
#green{background-color: green;}
#cyan{background-color: cyan;}
#lightBlue{background-color: lightBlue;}
#blue{background-color: blue;}
#black{background-color: black;}
